.menuBtnCls, .menuBtnCls:focus, .menuBtnCls:active, .menuBtnCls.active, .menuBtnCls:focus:active {
    /*   background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; */
    width: 40px!important;
    height: 40px!important;
    /* background-color: transparent !important; */
    background: url('img/menu4.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.actmenuBtnCls, .actmenuBtnCls:focus, .actmenuBtnCls:active, .actmenuBtnCls.active, .actmenuBtnCls:focus:active {
    /*   background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; */
    width: 40px!important;
    height: 40px!important;
    /* background-color: transparent !important; */
    background: url('img/cancel.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.cartButtonCls, .cartButtonCls:focus, .cartButtonCls:active, .cartButtonCls.active, .cartButtonCls:focus:active {
    width: 40px!important;
    height: 40px!important;
    background: url('img/cart2.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.shopButtonCls, .shopButtonCls:focus, .shopButtonCls:active, .shopButtonCls.active, .shopButtonCls:focus:active {
    width: 40px!important;
    height: 40px!important;
    background: url('img/shop.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.digitalButtonCls, .digitalButtonCls:focus, .digitalButtonCls:active, .digitalButtonCls.active, .digitalButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/digital.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.casualButtonCls, .casualButtonCls:focus, .casualButtonCls:active, .casualButtonCls.active, .casualButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/casual.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.dressButtonCls, .dressButtonCls:focus, .dressButtonCls:active, .dressButtonCls.active, .dressButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/dress.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.luxuryButtonCls, .luxuryButtonCls:focus, .luxuryButtonCls:active, .luxuryButtonCls.active, .luxuryButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/luxury.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.sportsButtonCls, .sportsButtonCls:focus, .sportsButtonCls:active, .sportsButtonCls.active, .sportsButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/sports.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.searchButtonCls, .searchButtonCls:focus, .searchButtonCls:active, .searchButtonCls.active, .searchButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/search.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.favoriteButtonCls, .favoriteButtonCls:focus, .favoriteButtonCls:active, .favoriteButtonCls.active, .favoriteButtonCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/favorite.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.orderHistCls{
    background-color: transparent !important;
    color: #ddd;
    border-style: none !important;
    border-radius: 0px !important;
}

.orderHistCls:hover, .orderHistCls:focus, .orderHistCls:active, .orderHistCls.active, .orderHistCls:focus:active {
    background-color: #ccc !important;
    color: #ddd;
    border-style: none !important;
    border-radius: 0px !important;
}

.textCls {
    height: 24px;
    font: 300 13px/17px sans-serif;
    color: #666;
    margin-top: 4px;
    font-family: 'Arial' !important;
}

.labelCls {
    height: 24px;
    font: 300 20px/24px sans-serif;
    color: #fff;
    margin-top: 4px;
    font-family: 'Arial' !important;
    font-weight: bold !important;
}

.adminLabelCls {
    height: 50px;
    font: 300 25px/30px sans-serif;
    color: #666;
    margin-top: 4px;
    font-family: 'Arial' !important;
    font-weight: bold !important;
}

.adminLoginCls {
    height: 24px;
    font: 300 20px/24px sans-serif;
    color: #666;
    margin-top: 4px;
    font-family: 'Arial' !important;
    font-weight: bold !important;
}

.headerCls {
    height: 50px;
    font: 300 45px/50px sans-serif;
    color: #fff;
    margin-top: 4px;
    font-family: 'Arial' !important;
    font-weight: bold !important;
}

.x-btn-default-small .x-btn-inner {
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Arial' !important;
}

.genericBtn{
    color: blue !important;
    background: #777 !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.genericBtn:hover, .genericBtn:focus, .genericBtn:active, .genericBtn.active, .genericBtn:focus:active {
    background-color: #ddd !important;
    color: blue !important;
    border-style: none !important;
    border-radius: 0px !important;
}

/* .x-form-display-field-default {
height: 24px;
font: 300 13px/17px helvetica,arial,verdana,sans-serif;
color: #000;
margin-top: 4px;
} */

.addToCartBtnCls, .addToCartBtnCls:focus, .addToCartBtnCls:active, .addToCartBtnCls.active, .addToCartBtnCls:focus:active {
    width: 50px!important;
    height: 50px!important;
    background: url('img/shopping-cart.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 7px !important;
}

.addToCartBtnCls:hover{
    width: 50px!important;
    height: 50px!important;
    background: url('img/shopping-cart-light.png') no-repeat;
    background-color: #777 !important;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 7px !important;
}

.x-window-header-title-default{
    color:#222 !important;
}

.logoutBtnCls, .logoutBtnCls:hover, .logoutBtnCls:focus, .logoutBtnCls:active, .logoutBtnCls.active, .logoutBtnCls:focus:active {
    width: 22px!important;
    height: 22px!important;
    background: url('img/logout3.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.addToFaveBtnCls, .addToFaveBtnCls:focus, .addToFaveBtnCls:active, .addToFaveBtnCls.active, .addToFaveBtnCls:focus:active {
    width: 30px!important;
    height: 30px!important;
    background: url('img/heart.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 7px !important;
}

.addToFaveBtnPinkCls, .addToFaveBtnPinkCls:focus, .addToFaveBtnPinkCls:active, .addToFaveBtnPinkCls.active, .addToFaveBtnPinkCls:focus:active {
    width: 30px!important;
    height: 30px!important;
    background: url('img/heart-pink.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 7px !important;
}

.addToFaveBtnCls:hover, .addToFaveBtnPinkCls:hover{
    width: 30px!important;
    height: 30px!important;
    background: url('img/heart-gray.png') no-repeat;
    background-size: contain !important;
    border-style: none !important;
    border-radius: 7px !important;
}