<!DOCTYPE html>
<html ng-app="myApp">
<script
  src="js/angular-1.4.72/angular.min.js"></script>
<script
  src="js/angular-1.4.72/angular-route.min.js"></script>
  <script
  src="js/bootstrap/jquery.min.js"></script>
<script
  src="js/bootstrap/bootstrap.min.js"></script>
<script
  src="js/bootstrap/bootstrap.min.css"></script>
<body >
 <div ng-controller="traineeController">
  <div class="panel panel-default">
    First name:<input type="text" ng-model="firstname"> 
    Last name:<input type="text" ng-model="lastname"><br>
    Email:<input type="text" ng-model="email"><br>
    <button type="button" class="btn btn-default" ng-click="search()">Search</button>
    You have selected: <span style="color:red">{{ trainee.fullName() }} </span>
    <hr>
  </div>
    
    <table class="table table-condensed">
       <thead>
           <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
           </tr>
       </thead>
       <tbody>
        <tr ng-repeat="trainee in listOfTrainees" ng-dblclick="detailed(trainee.id)">
            <td>{{ trainee.firstname }} </td>
            <td>{{ trainee.lastname }}</td>
            <td>{{ trainee.email }}</td>
        </tr>
       </tbody>
    </table>
    </div>
    <div ng-view></div>
<script src="app.js"></script>
<script src="controller/traineeController.js"></script>
</body>
</html>
