<form>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <h3>Show data</h3>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" ng-model="spec.Name" placeholder="Name" />
            <!-- <button type="button" class="btn btn-primary" ng-click="filterData(criteria)">Search</button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" ng-model="spec.Email" placeholder="Name" />
        </div>
    </div>
</form>
