<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>W4D4_Project</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
  
  
    <!-- Register the name "BannedAccessFilter" for 
               baseservlets.filter.BannedAccessFilter. 
               Supply an initialization parameter: 
               bannedSites.
          -->
    <filter>
        <filter-name>BannedAccessFilter</filter-name>
        <filter-class>
      com.oocl.mnlbc.filter.BannedAccessFilter
        </filter-class>
        <init-param>
            <param-name>bannedNames</param-name>
            <param-value>
        John
        Scott
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>BannedAccessFilter</filter-name>
        <url-pattern>/test/testfilter</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>BlackList</filter-name>
        <filter-class>
     		com.oocl.mnlbc.filter.BlacklistFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BlackList</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <listener>
    	<listener-class>com.oocl.mnlbc.listener.UserListener</listener-class>
  	</listener>
</web-app>