@CHARSET "ISO-8859-1";
.box {
	background-color: white;
	top: 62%;
	left: 49%;
	transform: translate(-50%, -45%);
	height: 275px;
	position: fixed;
	width: 500px;
	padding: 10px;
	font-family: 'Abel';
	font-size: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.box1 {
	background-color: white;
	top: 12%;
	left: 5%;
	transform: translate(-50%, -45%);
	height: 275px;
	position: fixed;
	width: 500px;
	padding: 10px;
	font-family: 'Abel';
	font-size: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}